/* ALL PAGE BASIC STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(58, 19, 1);
    height: 150vh;
}

#block-container{
    align-self: center;
}


.container-styling{
    width: 85vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;  
    margin: 15px;
}

/* HEADER STYLING */

header {
    width: 100%;
    text-align: center;
    padding: 50px;
    background-image: url(./images/fire-7332965_1920.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1{
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px black;
}

/*  NAV STYLING */

nav{
    width: 100%;
}

nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: white;
    list-style: none;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: rgb(68, 66, 66);
}

/* MAIN PAGE STYLING */

.Introduktion-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem; 
}

.History-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.About-food-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.Á-la-carte-container a{
    text-decoration: none;
}

/* SLIDESHOW STYLING */

.slide-container{
    font-family:'Courier New', Courier, monospace;
}

/* SLIDESHOW BUTTON STYLING */

.prev, .next{
    color: white;
    background-color: black;
    width: auto;
    padding: 15px;
    border-radius: 30px;
}

.prev:hover, .next:hover{
    background-color: rgb(99, 99, 99);
}

.prev{
    margin-right: 20px;
}

.next{
    margin-left: 20px;
}

/* SLIDESHOW DOT STYLING */

#dot-container{
    text-align: center;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.Recommendation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Recommendation-container section{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.Recommendation-container p{
    background-color: rgb(0, 0, 0,0.6);
    color: white;
}

/* FOOD CARDS STYLING */

#Appetizer-card-one{
    border: 1px solid black;
    background-image: url(../images/Appetizer-food-images/french-fries-2762014_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Appetizer-card-two{
    border: 1px solid black;
    background-image: url(../images/Appetizer-food-images/fried-food-735004_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Appetizer-card-three{
    border: 1px solid black;
    background-image: url(../images/Appetizer-food-images/garlic-bread-7359756_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#Menu-container{
display: none;
}

#Menu-card-one{
    border: 1px solid black;
    background-image: url(../images/Menu-food-images/pancakes-2291908_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Menu-card-two{
    border: 1px solid black;
    background-image: url(../images/Menu-food-images/fast-food-743846_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Menu-card-three{
    border: 1px solid black;
    background-image: url(../images/Menu-food-images/grilled-8042308_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#Dessert-container{
    display: none;
}

#Dessert-card-one{
    border: 1px solid black;
    background-image: url(../images/Dessert-food-images/apple-pie-1584260_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Dessert-card-two{
    border: 1px solid black;
    background-image: url(../images/Dessert-food-images/bowl-1932375_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Dessert-card-three{
    border: 1px solid black;
    background-image: url(../images/Dessert-food-images/food-2940496_640.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FULL MENU PAGE SPECIFIC STYLING */

.Full-menu-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.Full-menu-container li{
    list-style: none;
}

.Full-menu-types{
    border-bottom: 1px solid black;
}


#btn-filter-container{
    padding: 4px;
    
}

.filter-btn{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}

.filter-btn:hover{
    background-color: rgb(99, 99, 99);
}

.Lunch-buffé-container {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

#Lunch-buffé-title{
    display: flex;
    justify-content: space-between;
}


.Lunch-buffé-container button {
    justify-self: end;
}

.Lunch-buffé-timetable a{
    text-decoration: none;
}

#Lunch-buffé-menu-list li{
    list-style: none;
}



.Allergener-info-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;  
}

/* FOOTER STYLING */

footer{
    padding: 5px 0;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

footer a{
margin: 10px;

}

/* Tablet mode */
@media(max-width: 810px){

    .container-styling{
        width: 95vw;

    }
}

/*Mobile mode*/
@media (max-width:510px) {

    nav a{
        padding: 0 15px;
    }

    .Recommendation-container section{
        width: 100px;
        height: 100px;
    }


}