* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(58, 19, 1);
    height: 150vh;
}

.darkmode{
    background-color: rgb(53, 47, 40);
    color: whitesmoke;
}

header {
    width: 100%;
    text-align: center;
    padding: 50px;
    background-image: url(./images/fire-7332965_1920.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1{
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: white;
    list-style: none;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: rgb(68, 66, 66);
}

.Introduktion-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;  
}

.History-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;     
}

.About-food-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;      
}

.Á-la-carte-container a{
    text-decoration: none;
}

.Recommendation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Recommendation-container p{
    background-color: rgb(0, 0, 0,0.6);
    color: white;
}

.Appetizer-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;    
}

#Appetizer-card-one{
    border: 1px solid black;
    background-image: url(./images/Appetizer-food-images/french-fries-2762014_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Appetizer-card-two{
    border: 1px solid black;
    background-image: url(./images/Appetizer-food-images/fried-food-735004_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Appetizer-card-three{
    border: 1px solid black;
    background-image: url(./images/Appetizer-food-images/garlic-bread-7359756_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Menu-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;
}

#Menu-card-one{
    border: 1px solid black;
    background-image: url(./images/Menu-food-images/pancakes-2291908_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Menu-card-two{
    border: 1px solid black;
    background-image: url(./images/Menu-food-images/fast-food-743846_640.jpg);
    background-size: cover;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Menu-card-three{
    border: 1px solid black;
    background-image: url(./images/Menu-food-images/grilled-8042308_640.jpg);
    background-size: cover;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Dessert-container{
    width: 95vw;
    height: auto;
    border:  1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;    
}

#Dessert-card-one{
    border: 1px solid black;
    background-image: url(./images/Dessert-food-images/apple-pie-1584260_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Dessert-card-two{
    border: 1px solid black;
    background-image: url(./images/Dessert-food-images/bowl-1932375_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Dessert-card-three{
    border: 1px solid black;
    background-image: url(./images/Dessert-food-images/food-2940496_640.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Full-menu-container{
    width: 95vw;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;    
}
.Full-menu-types{
    border-bottom: 1px solid black;
}

#btn-filter-container{
    padding: 4px;
    
}

.filter-btn{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}

.Lunch-buffé-container {
    width: 95vw;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;
    
}

#Lunch-buffé-title{
    display: flex;
    justify-content: space-between;
}


.Lunch-buffé-container button {
    justify-self: end;
}

.Lunch-buffé-timetable a{
    text-decoration: none;
}

#Lunch-buffé-menu-list li{
    list-style: none;
}



.Allergener-info-container{
    width: 95vw;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: bisque;
    padding: 5px;    
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

footer a{
margin: 10px;

}